.panel {
    background-color: #202024;
    width: 600px;
    height: 650px;
    padding: 1rem;
    padding: 36px;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.dataInputBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.inputBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
}

.inputBox input {
    background-color: #121214;
    border: none;
    border-radius: 16px;

    width: 100%;
    height: 60px;

    font-size: 1.2rem;
    padding: 16px;
}

.inputBox input:focus {
    outline: 2px solid #0796b4;
}

.panel div label {
    font-weight: bolder;
    margin-left: 8px;
}

.buttons {
    

    display: flex;
    align-items: center;
    justify-content: end;

    width: 100%;
}

.saveButton {
    border: none;
    background-color: #499f05;
    width: 144px;
    height: 50px;
    border-radius: 16px;
    cursor: pointer;
}



@media (max-width: 1390px) {
    .panel {
        width: 450px;
        height: 487px;
    }
}
@media (max-width: 1108px) {
    .panel {
        width: 85%;
    }

    .buttons {
        margin-top: 40px;
    }
}